.plants ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: 1ch;
}

.plant {
  border: 1px solid #0714a4;
  padding: 1rem;
  display: grid;
  gap: 1ch;
}

.plant figure {
  font-size: 5rem;
  text-align: center;
}
